.profile-pic {
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.42); 
box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.42);
}

.about-text {
  font-weight: 400;
}



/* Typewriter Animation */
span{
  animation: blinker 1s linear infinite;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}
  
  /* lin-2 */
  /* .about-title {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    color: black;
  } */
  
  /* Animation */
  /* .about-title {
    animation: animated-text2 2s steps(15, end) 0.5s 1 normal both,
      animated-cursor2 800ms steps(15, end) infinite;
  } */
  
  
  
  /* @keyframes animated-text2 {
    from {
      width: 0;
    }
  
    to {
      width: 393px;
    }
  } */
  
  /* cursor animations */
  
  /* @keyframes animated-cursor2 {
    from {
      border-right-color: var(--secondary);
    }
  
    to {
      border-right-color: transparent;
    }
  } */

  /* Custom Media Queries */

  @media screen and (max-width: 576px) {
    .about-name {
      font-size: 1.8em;
    }

    .about-title {
      font-size: 1em;
    }
  }