.img-container {
    width: 100px;
    height: 100px;
	/* background-color: #66dada; */
	background-color: #f3a847;
}

.img-width {
    width: 80%
}

.contactLink, .contactLink:hover, .contactLink:focus, .contactLink:active {
    text-decoration: none;
    color: inherit;
}

.github-img {
    width: 100%;
}

/* hover effects */
.phone-cont:hover img, 
.phone-cont:focus img, 
.phone-cont:active img {
	-webkit-animation-name: buzz;
	animation-name: buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
	
@-webkit-keyframes buzz {
  	50% {
  	    -ms-transform: translateX(3px) rotate(2deg);
	    -webkit-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
  	}
  	100% {
	    -ms-transform: translateX(-3px) rotate(-2deg);
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
  	}
}
@keyframes buzz {
  	50% {
	    -ms-transform: translateX(3px) rotate(2deg);
	    -webkit-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
  	}
  	100% {
	    -ms-transform: translateX(-3px) rotate(-2deg);
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
  	}
}

/* hover ripple effect */
.jm-logo2 div {
	display: inline-block;
	position: relative;
	z-index: 1;
	/* padding: 30px; */
	/* border-radius: 50%; */
	-webkit-border-radius: 50%;
	/* box-shadow: 0 0 0 4px #fff; */
	/* -webkit-box-shadow: 0 0 0 2px rgb(162, 162, 162); */

    animation-duration: 3s;
    animation-name: rippled;
}

.jm-logo2 div:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-ms-transition: -ms-transform 0.2s, opacity 0.3s;
	-o-transition: -o-transform 0.2s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

.jm-logo2 div:hover:after {
	-o-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	filter: alpha(opacity=0);
	opacity: 0;
}
/* hover ripple effect end */

/* hover raise effect */
.jm-logo2 {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

/* rotate logo */
.contact-logo {
	position: relative;
	transition: .5s;
}

.contact-cont:hover a,
.contact-cont:focus a,
.contact-cont:active a {
	transform: rotateY(360deg);
}

/* email hover open */
.email-cont:hover img,
.email-cont:focus img,
.email-cont:active img {
	content: url('../../assets/logos/email-open-gray.png');
}

@media screen and (max-width: 576px) {
    .img-container {
        width: 80px;
        height: 80px;
    }
}

