.img-container {
    width: 100px;
    height: 100px;
}

.img-width {
    width: 80%
}

.contactLink, .contactLink:hover, .contactLink:focus, .contactLink:active {
    text-decoration: none;
    color: inherit;
}

/* Changing Typewriter cursor to custom */
/* .border-cursor:first-child {
    animation: blinkTextCursor 500ms steps(44) infinite normal;
    border-right: 2px solid 
}

@keyframes blinkTextCursor{
    from{border-right-color: #ce8e3b;}
    to{border-right-color: transparent;}
} */

@media screen and (max-width: 576px) {
    .img-container {
        width: 80px;
        height: 80px;
    }
}

