body.dark-mode {
    /* color: rgb(204, 214, 245); */
    background-color: rgb(10, 25, 47);
    color: rgb(136, 145, 176);

    .about-title,
    .about-name,
    #name,
    .nav-color,
    .project-title,
    .page-header {
        color: rgb(204, 214, 245);
    }

    .project-title {
        // border-color:rgb(100, 255, 217);
        border-color: #66dada;
    }

    .btn-style {
        background-color: #66dada;
        // -webkit-box-shadow: 2px 6px 10px -5px #ffffff;
        // box-shadow: 2px 6px 10px -5px #f7f7f7;
        color: rgb(10, 25, 47);
    }

    .main-color,
    #typewriter-span {
        // color: rgb(100, 255, 217);
        color: #66dada;
    }

    .navBgColor {
        background-color: rgb(23, 42, 68);

    }

    // .img-container, .jm-logo2 div:after {
    //     background-color: rgb(39, 72, 118);
    //     background-color: #f3a847;
    // }

    .img-container {
        // background-color: #f3a847;
        background-color: #66dada;
    }

    .jm-logo2 div:after {
        background-color: rgb(23, 42, 68);
    }

    .badge-color {
        background-color: rgb(204, 214, 245);
        color: rgb(10, 25, 47);
    }

    .footer-links {
        color: rgb(136, 145, 176);
    }

    .footer-links:hover {
        color: #66dada;
    }

    .hover::after {
        background: rgb(215, 224, 252);
    }
}